.chat{
    position: fixed;
    width:400px;
    bottom: 0px;
    right: 0px;
}

.chat-box{
    border-style: inset;
    border-width: 1px;
    border-radius: 15px;
    position: relative;
    bottom: 0px;
    right: 0px;
    width:400px;
    height:400px;
    background-color: white;
}

.chat-bar{
    position: absolute;
    height:50px;
    width:400px;
    top:-50px;
    border-width: 2px;
    border-style:groove;
    border-radius: 15px;
    background-color: black;
}

.chat-toggle-btn{
    position: absolute;
    right:0px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    color:black;
}

#chat-input{
    position: absolute;
    width:80%;
    height: 30px;
    font-size: 20px;
    bottom: 0px;
    padding:0px; 
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    left: 10px;
    background-color: lightgray;
}

#chat-send-btn{
    position: absolute;
    width:15%;
    height:35px;
    font-size: 20x;
    bottom:10px;
    right:0px;
    border-radius:5px;
}

.chat-message{
    list-style-type:none;
    margin-left:10px;
    text-align: left;
    margin-bottom: 0px;
    margin-top:5px;
}

.bar-title{
    color:white;
}

